django>=4.2,<5.0
gunicorn>=21.2,<22.0
dj-database-url>=2.0,<3.0
whitenoise[brotli]>=6.0,<7.0

# Uncomment these lines to use a Postgres database. Both are needed, since in production
# (which uses Linux) we want to install from source, so that security updates from the
# underlying Heroku stack image are picked up automatically, thanks to dynamic linking.
# On other platforms/in development, the precompiled binary package is used instead, to
# speed up installation and avoid errors from missing libraries/headers.

psycopg[c]; sys_platform == "linux"
psycopg[binary]; sys_platform != "linux"

django-allauth==0.58.2
django-storages==1.14.2
boto3==1.33.6
botocore==1.34.53
jmespath==1.0.1
python-dateutil==2.8.2
s3transfer==0.8.2
six==1.16.0
urllib3==2.0.7
Pillow==10.1.0
qrcode==7.4.2